
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="style.css" />
    <title>Add User</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
              
            </div>
        </div>
    </nav>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div th:if="${param.success}">
                    <div class="alert alert-info">User successfully added!</div>
                </div>

                <h1>User Info</h1>

                <form th:action="@{/addU}" th:object="${newUser}" >
               
                    <label>First name</label> 
                    <input type="text" th:field="*{firstName}" class="form-control" />
                     <span class="red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
               
                    <label>Last name</label> <input  type="text" th:field="*{lastName}" class="form-control" /> 
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
               
                    <label>E-mail</label> <input type="text" th:field="*{emailID}" class="form-control"/>
                    <p th:if="${#fields.hasErrors('emailID')}" th:errors="*{emailID}"></p>
                    
                    <label >Company</label> 
                    <select  th:field="*{company}" >
   						 <option th:value="Lxisoft" th:text="Lxisoft"></option>
   						 <option th:value="Bytatech" th:text="Bytatech"></option>
   						 <option th:value="Divixo" th:text="Divixo"></option>
   						 <option th:value="Felixo" th:text="Felixo"></option>
   						 <option th:value="Illude" th:text="Illude"></option>

                    </select><br>
                    <label for="user" class="control-label">User Name</label> <input type="text" th:field="*{username}" class="form-control"/>
                    <label for="password" class="control-label">Password</label> <input type="text" th:field="*{password}" class="form-control"/><br>
                   Role Type: <select name="name">
   						 <option th:value="ROLE_USER" th:text="user"></option>
   						 <option th:value="ROLE_ADMIN" th:text="Admin"></option>

                    </select><br>
                   
               		<br> <button type="submit" class="btn btn-success">Save</button>

                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>