<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>report status</title>
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> 
     <span class="icon-bar"></span> <span class="icon-bar"></span> 
     <span class="icon-bar"></span>
</button>
</div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=active th:classappend="${module == 'home' ? 'active' : ''}">
              <a href="#" th:href="@{/}">Home</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li class=active th:classappend="${module == 'report' ? 'active' : ''}">
          <a href="/status" th:href="@{/status}">Back</a></li>
          </ul>
     </div>
     </div>
     </nav>
<br>
<br>
<div class="container">
<div class="row">
            <div class="col-md-6 col-md-offset-3">
<form th:action="@{/setReport}" th:object="${newReportStatus}">
		 <div class="form-group">
		 	<h2>Report Status</h2>
		 	<br><br>
			<label for="report">Name</label><br>
			<input type="text"  id="report" name="name" class="autocomplete"><br><br>
		    <input type="date" id="start" name="trip-start" value=${LocalDate.now()} ><br><br>
			<label for="t">Reporting Time:</label><br>
			<input type="time" id="t" name="ltime"><br><br>
			<input value="Authorized"  name="subject" class="auth" type="checkbox">Authorized
   			<input value="NonAuthorized" name="subject" class="auth" type="checkbox">Non Authorized 
   			
		</div>
            <button class="btn btn-primary" type="submit">Update</button><br><br>
        </form>
        
        <button class="btn btn-primary" onclick="window.location.href='status'" >Exit</button>
	</div>
	</div>
	</div>
 <script>
 $('.auth').on('change', function() {
	    $('.auth').not(this).prop('checked', false);  
	});

    $( function() {
       
    	  $( ".autocomplete" ).autocomplete({
        	  source: function(request, response ){
        		  console.log("working");
        		  $.ajax({
        			    url: "/statusform",
        			    dataType: "json",
        			    data: {
        			    	firstName: request.term
        			    },
        			    success: function (data) {
        			    	console.log("Successss"+JSON.stringify(data));
        			        response($.map(data, function (item) {
        			        	console.log("Response"+JSON.stringify(item));
        			            return {
        			                label: item.firstName,
        			                value: item.firstName
        			            };
        			        }));
        			    }
        			});
        	  }
        });
        
       
      } );
    
  </script>
</body>
</html>




