<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" 
   xmlns:th = "http://www.thymeleaf.org" ">
   
   <head>
      <title>User Info</title>
   </head>
   <body>
      <h1>NAME :</h1>
      <p>Click<a th:href = "@{/index}">here</a>  to LogOut</p>
      
      <table>
       <tr>
       <th>Name:</th>
      </tr>
      <tr>
      	<td>  </td>
      </tr>  
       <tr>
       <th>Email ID</th>
      </tr>
      <tr>
      	<td>  </td>
      </tr>    
      </table>
      
   </body>
   
</html>