<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" 
   xmlns:th = "http://www.thymeleaf.org" >
   
   <head>
      <title>User Info</title>
   </head>
   <body>
      <h1>NAME :</h1>
            
      <table>
       <tr>
	       <th><b>FirstName</b></th>
	      	<td> <input type="text" id="firstname" name="firstname" /> </td>
      </tr>  
       <tr>
	       <th><b>LirstName</b></th>
	      	<td> <input type="text" id="lastname" name="lastname" /> </td>
      </tr>  
      <tr>
	       <th><b>Email ID </b></th>    
	      	<td> <input type="text" id="email" name="email" /> </td>
      </tr>  
      <tr>
	       <th><b>Company </b></th>    
	      	<td> <input type="text" id="company" name="company" /> </td>
      </tr>     
      </table> 
   
    <p><a th:href = "@{index}">LogOut</a></p>   
   </body>
   
</html>