<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
	<style type="text/css">
		nav { position:sticky !important;}
		.card-horizontal {
		    display: flex;
		    flex: 1 1 auto;
		}
	</style>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>View All User</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li class=active th:classappend="${module == 'report' ? 'active' : ''}">
              <a href="/status" th:href="@{/status}">Set Status</a></li>
          <li class=active th:classappend="${module == 'setting' ? 'active' : ''}">
          		<a href="/adminLogin" th:href="@{/adminLogin}">settings</a></li>
          <li class=active th:classappend="${module == 'addUser' ? 'active' : ''}">
              <a href="/addUser" th:href="@{/addUser}">Add User</a></li>
           <li class=active th:classappend="${module == 'logout' ? 'active' : ''}">
              <a href="/logout-success" th:href="@{/logout-success}" onclick="$('#form').submit();">Logout</a></li>
             <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout-success}"></form>
           </li>
          </ul>
          
        </div>
      </div>
    </nav>
  
    <div class="container">
    <div align="center">
<form th:action="@{filter}">
	<select name="company">
	<option type="text" name="select" >--company--</option>
	<option type="text" name="Lxisoft" >Lxisoft</option>
	<option type="text" name="Bytatech">Bytatech </option>
	<option type="text" name="Divixo" >Divixo </option>
	<option type="text" name="Felixo" >Felixo </option>
	<option type="text" name="Illude" >Illude</option>
	</select>
	<select name="position">

	<option type="text" name="select" >--position--</option>
	<option type="text" >intern</option>
	<option type="text" >employee </option>
	<option type="text" >co-founder </option>
	<option type="text" >admin </select>
	</select>
	<input type="submit" value="filter">
</form>
   

  <table class="table">
  <tr th:each="employee: ${list}">
    <td><div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><span th:text="${employee.getFirstName()}"></span> <span th:text="${employee.getLastName()}"></span> </a></h4>
                        <p class="card-text"><span th:text="${employee.getCompany()}"></span></p>
                        <a th:href="@{${'/userDetails?id='+employee.id}}" ><button  type="button" class="btn btn-danger btn-lg">View Profile</button></a>
                        <td><a th:href="@{${'/editUser?id='+employee.id}}">&nbsp  edit &nbsp  </a></td>
    <td><a th:href="@{${'/deleteUser?id='+employee.id}}">&nbsp delete &nbsp</a></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</td>

</tr>
</table>
</div>
</div>

    
  </body>
</html>