<div>
    <h2 id="page-heading">
        <span jhiTranslate="appraisalApp.jira.home.title">Jiras</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jira" [routerLink]="['/jira/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="appraisalApp.jira.home.createLabel">
            Create a new Jira
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jiras?.length === 0">
        <span jhiTranslate="appraisalApp.jira.home.notFound">No jiras found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jiras && jiras.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="appraisalApp.jira.date">Date</span></th>
                    <th scope="col" ><span jhiTranslate="appraisalApp.jira.hour">Hour</span></th>
                    <th scope="col" ><span jhiTranslate="appraisalApp.jira.userExtra">User Extra</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jira of jiras ;trackBy: trackId">
                    <td><a [routerLink]="['/jira', jira.id, 'view']">{{ jira.id }}</a></td>
                    <td>{{ jira.date | date:'mediumDate' }}</td>
                    <td>{{ jira.hour }}</td>
                    <td>
                        <div *ngIf="jira.userExtra">
                            <a [routerLink]="['/user-extra', jira.userExtra?.id, 'view']" >{{ jira.userExtra?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/jira', jira.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/jira', jira.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jira)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
