
<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/responsiveScript.js"></script>
<script src="/js/imageUploadScript.js"></script>

<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/addUser.css" type="text/css">
    <title>Add User</title>
</head>

<body  th:onload="use([[${error}]])" >
		

<div class="topnav" id="myTopnav">
  <a href="#home" th:href="@{/}">Home</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
    <div class="container">
                       <h1>User Info</h1>
              	   <form th:action="@{/addU}" th:object="${user}" enctype="multipart/form-data" method="post">
              		<label for="firstName"><b>First Name</b></label><br>
                    <input type="text" placeholder="first name" th:field="*{firstName}" class="form-control" />
                     <font color="red" class="red" th:if="${#fields.hasErrors('firstName')}"th:errors="*{firstName}"></font><br>                  
                   <label for="lastName"><b>Last Name</b></label> <br><input  type="text" placeholder="last name" th:field="*{lastName}" class="form-control" />
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p><br>
                   <label for="email"><b>Email</b></label> <br><input type="text" placeholder="email" th:field="*{email}" class="form-control"/><br>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                   <label for="dob"><b>DOB</b></label> <br><input type="text" placeholder="date-month-year" class="textbox-n" onfocus="(this.type='date')" name="dob"  required /><br>
                    <label for="joiningDate"><b>Joining Date</b></label> <br><input type="text" placeholder="date-month-year" class="textbox-n" onfocus="(this.type='date')" name="joinDate" required /><br>
                   <label for="profilePic"><b>Profile Pic</b></label> <br><input type="file" name="picture" required /><br>
                    
                    <label for="company"><b>Company</b></label> :&nbsp;&nbsp;&nbsp;&nbsp;
                    <select  name="company">
   						 <option th:value="Lxisoft" th:text="Lxisoft"></option>
   						 <option th:value="Bytatech" th:text="Bytatech"></option>
   						 <option th:value="Divixo" th:text="Divixo"></option>
   						 <option th:value="Felixo" th:text="Felixo"></option>
   						 <option th:value="Illude" th:text="Illude"></option>
                    </select><br><br>
                    <label for="position"><b>Position</b></label>   :&nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="position">
						<option th:value="intern" th:text="intern"></option>
						<option th:value="employee" th:text="employee "></option>
						<option th:value="co-founder" th:text="co-founder"> </option>
						<option th:value="admin" th:text="admin"> </select>
					</select><br><br>
                    <label for="username" class="control-label"><b>User Name</b></label> <br> <input type="text" placeholder="username" th:field="*{login}" class="form-control" required/>
                    		<span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span><br>
                    <label for="password" class="control-label"><b>Password</b></label> <br> <input type="password" placeholder="password" th:field="*{password}" class="form-control" required/>
                    		<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>
					 <label for="company"><b>Role</b></label> :&nbsp;&nbsp;&nbsp;&nbsp;<select name="authority">
   						 <option th:value="ROLE_USER" th:text="user"></option>
   						 <option th:value="ROLE_ADMIN" th:text="Admin"></option>
   						

                    </select><br><br>
                    
          <div id="alert" class="alertred">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		 Error    #hint: email & username must be unique 
		</div>
						<br> <button type="submit" class="registerbtn">Save</button>	 
                </form>
            </div>
        </div>
    </div>
    
    <script >
   function use(us)
   {
	   if(us){
	   document.getElementById('alert').style.display = "block";}
   }
    </script>
</body>
</html>