
<!DOCTYPE html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/responsiveScript.js"></script>
<script src="/imageUploadScript.js"></script>
<link rel="stylesheet" href="/style.css" type="text/css">
    <title>Add User</title>
</head>

<body>
	
<div class="topnav" id="myTopnav">
  <a href="#home" th:href="@{/}">Home</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div th:if="${param.success}">
                    <div class="alert alert-info">User successfully added!</div>
                </div>

                <h1>User Info</h1>
                <form th:action="@{/addU}" th:object="${user}" enctype="multipart/form-data" method="post">
                    <label>First name</label> <input type="text" th:field="*{firstName}" class="form-control" />
                     <span class="red" th:if="${#fields.hasErrors('firstName')}"
                    th:errors="*{firstName}"></span>
                  
                    <label>Last name</label> <input  type="text" th:field="*{lastName}" class="form-control" /> 
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
               
                    <label>E-mail</label> <input type="text" th:field="*{email}" class="form-control"/>
                    
                    <label>DOB: </label> <input type ="date" name="dob"  required />
                
                    <label>Joined Date:</label><input type="date" name="joinDate" required />
                    
                  	<label>pick a profile picture</label> <input type="file" name="picture"  required/>
                    
                    <label >Company:</label> 
                    <select  name="company">
   						 <option th:value="Lxisoft" th:text="Lxisoft"></option>
   						 <option th:value="Bytatech" th:text="Bytatech"></option>
   						 <option th:value="Divixo" th:text="Divixo"></option>
   						 <option th:value="Felixo" th:text="Felixo"></option>
   						 <option th:value="Illude" th:text="Illude"></option>
                    </select>
                    <label>Position:</label>
                    <select name="position">
						<option th:value="intern" th:text="intern"></option>
						<option th:value="employee" th:text="employee "></option>
						<option th:value="co-founder" th:text="co-founder"> </option>
						<option th:value="admin" th:text="admin"> </select>
					</select><br>
					
                    <label for="user" class="control-label">User Name</label> <input type="text" th:field="*{login}" class="form-control"/><br><br>
                    <label for="password" class="control-label">Password</label> <input type="password" th:field="*{password}" class="form-control"/><br>
					 <label>Role Type: </label><select name="authority">
   						 <option th:value="ROLE_USER" th:text="user"></option>
   						 <option th:value="ROLE_ADMIN" th:text="Admin"></option>

                    </select><br>
                   
               		<br> <button type="submit" class="btn btn-success">Save</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>