<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/responsiveScript.js"></script>
<link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>adminLogin</title>
</head>
<div class="topnav" id="myTopnav">
  <a href="#home"  th:href="@{/}">Home</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div><span th:text="${date}"></span></div>
<br><br>
 <center> 
<button class="button btn1" onclick="window.location.href='viewuser'" >View All User</button>&nbsp;&nbsp;
<button class="button btn1" onclick="window.location.href='status'" >Set Status</button>
<br><br>
</center>
<center>
<button class="button btn1" onclick="window.location.href='add'" >Add User</button>&nbsp;&nbsp;
</center>
</body>
</html>