<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/autocompleteScript.js"></script>
<script src="/js/responsiveScript.js"></script>
<link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>late Arrival</title>
    
</head>
<body align="center">
	
<div class="topnav" id="myTopnav">
  <a href="#home" th:href="@{/}">Home</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div class="container">
<div class="row">
            <div class="col-md-6 col-md-offset-3">
<form th:action="@{/setLate}" th:object="${newLate}" >
		 <div class="form-group">
		 	<h2>Late Arrival</h2>
		 	<div class="c">
		 	<table>
		 	<th><strong>Today's Late Arrival</strong></th>
		 	<tr th:each="emp: ${latelist}" >
			   <td><a th:href="@{${'/userDetails?id='+emp.id}}" ><span th:text="${emp.getFirstName()} "></span> <span th:text="${emp.getLastName()} ">
				</a></td>
			</tr>
			</table>
			</div>
		 	<br><br>
			<label for="late">Name:</label>
			<input type="text"  id="late" name="name" class="autocomplete"><br><br>
			<p style="color:red" th:if="${msg=='unvalid'}" >
         Invalid User !!! please Insert valid User Name</p>
			<label for="ltime">Arrival Time:</label>
			<input type="time" id="ltime" name="ltime" required><br><br>
			<input value="Authorized"  name="subject" class="auth" type="checkbox">Authorized
   			<input value="NonAuthorized" name="subject" class="auth" type="checkbox">Non Authorized 
		</div><br>
		<div id="alert" class="alert">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						 LateArrival updated  
		</div>	
            <center>  <button  class="button btn2" type="submit" onclick="userLate()">Update</button><br><br>
        </form>
        
        </center>  
	</div>
	</div>
	</div>
	<script >
	 function userLate()
	   {
		   document.getElementById('alert').style.display = "block";
	   }
	</script>
</body>
</html>




