<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" 
   xmlns:th = "http://www.thymeleaf.org" >
   <head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/autocompleteScript.js"></script>
<script src="/responsiveScript.js"></script>
<script src="/imageUploadScript.js"></script>
<link rel="stylesheet" href="/style.css" type="text/css">
</style>
<title>User Info</title>
</head>
   <body align="center"> 
   <div class="topnav" id="myTopnav">
  <a href="#home" th:href="@{/}">Home</a>
  <a href="/addUser" th:href="@{/}"><div sec:authorize="hasRole('ROLE_ADMIN')">View All Users</div></a>
  <a href="/editUser" th:href="@{${'/editUser?id='+employee.id}}"><div sec:authorize="hasRole('ROLE_ADMIN')">Edit</div></a>
  <a href="/logout-success" th:href="@{/logout-success}" onclick="$('#form').submit();">Logout</a>
  <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout-success}"></form>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div class="container">
	<div class="row">
       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" th:src="*{'data:image/jpg;base64,'+ image}" id="profile-image1" 
                     class="img-circle img-responsive" style="width:300px;height:200px;"> 
              
                <!--Upload Image Js And Css-->
                     
                     </div>
              
              <br>
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
             
            <h4 style="color:#00b1b1;">Name :<span th:text="${employee.FirstName}"  ></span> <span th:text="${employee.LastName}"></h4></span>
               <span><p>Company :<span th:text="${employee.Company}"> </p></span> 
              <span><p>Position :<span th:text="${employee.position}" ></p></span> 
               <span><p>D.O.B :<span th:text="${employee.dob}" ></p></span> 
                <span><p>Joining Date :<span th:text="${employee.joiningDate}" ></p></span>            
            </div>
            <form th:action="@{getAppraisalResult}" th:method="post">
            	<input type="hidden" name="id" th:value="${employee.id}"/>
            	<input type="submit" value="Appraisal Result" />
            
            </form>
            
 <div class="clearfix"></div><br>
 <hr style="margin:5px 0 5px 0;">
 <form th:action="@{/startDate}">
 <input type="hidden" name="id"  th:value="${employee.id}" ></input>
<div class="col-sm-5 col-xs-6 tital " >From
<input type="date" id="start" name="start" required>
</div>
<div class="col-sm-7">To
<input type="date" id="end" name="end" required>
<input type="submit" value="get result" /></div>
</form>
<div class="clearfix"></div>
<hr style="margin:5px 0 5px 0;">
<div class="col-sm-5 col-xs-6 tital " ><b>Leaves:</b></div>
 
 <div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Authorized</div><div class="col-sm-7"> <span th:text="${auth.size()}" ></div>

  <div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Unauthorized</div><div class="col-sm-7"><span th:text="${unauth.size()}" ></div>
 
  <div class="clearfix"></div>
<div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " ><b>Late Arrival</b></div>
 
  <div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Authorized</div><div class="col-sm-7"><span th:text="${a.size()}" ></div>

  <div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Unauthorized</div><div class="col-sm-7"><span th:text="${un.size()}" ></div>

 <div class="clearfix"></div>
<div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " ><b>Work Status:</b></div>
  
  <div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Total working hours</div><div class="col-sm-7"><span th:text="${total}"></div>

 <div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Total worked hours</div><div class="col-sm-7"><span th:text="${workedHour}" ></div>

<div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Git score</div><div class="col-sm-7"><span th:text="${git}"></div>    

<div class="clearfix"></div><br>
 <div class="col-sm-5 col-xs-6 tital " >Hackathon score</div><div class="col-sm-7"><span th:text="${hack}"></div>

<div class="clearfix"></div>
<div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " ><b>Attendance:</b></div>

<div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Total working days</div><div class="col-sm-7"><span th:text="${day}" ></div>

<div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Absence</div><div class="col-sm-7"><span th:text="${auth.size()+unauth.size()}" ></div>

<div class="clearfix"></div>
<div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " ><b>Report Status:</b></div>

<div class="clearfix"></div><br>
<div class="col-sm-5 col-xs-6 tital " >Unreported days</div><div class="col-sm-7"> <span th:text="${unreportdays.size()}" ></div>




            <!-- /.box-body -->
          </div>
        </div>            
      </div> 
    </div>
</div>  
</div>
</div>
  
    </body>
    </html>   