<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" 
   xmlns:th = "http://www.thymeleaf.org" >
   <head>
   
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/responsiveScript.js"></script>
<script src="/js/imageUploadScript.js"></script>
<script src="/js/userdetail.js"></script>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/userdetail.css" type="text/css">
	<link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</style>
<title>User Info</title>
</head>
   <body align="center"> 
   <div class="topnav" id="myTopnav">
  <a href="#home" th:href="@{/}">Home</a>
  
  <a href="/editUser" th:href="@{${'/editUser?id='+employee.id}}"><div sec:authorize="hasRole('ROLE_ADMIN')">Edit</div></a>
  <a href="/logout-success" th:href="@{/logout-success}" onclick="$('#form').submit();">Logout</a>
  <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout-success}"></form>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
	<div class="profile-main">
		<div class="profile-header">
			<div class="user-detail">
				<div class="user-image">
					<img alt="User Pic" th:src="*{'data:image/jpg;base64,'+ image}" id="profile-image1" 
                     class="img-circle img-responsive" style="width:100px;height:100px;"> 
				</div>
				<div class="user-data">
					<h2><span th:text="${employee.FirstName}"></span><span th:text="${employee.LastName}"></h2>
					<p><span th:text="${employee.position}" ><br>
					
					</p>
					<p><form th:action="@{getAppraisalResult}">
			           	<input type="hidden" name="id" th:value="${employee.id}"/>
			           	<input type="submit" value="Print Appraisal Result" />
			           
			           </form>
			        </p>
				</div>
			</div>
			<div class="tab-panel-main">
				<ul class="tabs">
					<li class="tab-link current" data-tab="Basic-detail">Basic Detail</li>
					<li class="tab-link" data-tab="Edu-detail">Work Profile</li>
					<li class="tab-link" data-tab="App-detail">Appraisal Detail</li>
					
				</ul>
				<div id="Basic-detail" class="tab-content current">
					<div class="detail-box">
						
						<ul class="ul-first">
							<strong><li>First Name</li><br>
							<li>Last Name</li><br>
							<li>Company</li><br>
							<li>Position</li><br>
							<li>D.O.B</li><br>
							<li>Joining Date</li><br></strong>
						</ul>
						<ul class="ul-second">
							<li><span th:text="${employee.FirstName}"></li><br>
							<li><span th:text="${employee.LastName}"></li><br>
							<li><span th:text="${employee.Company}"></li><br>
							<li><span th:text="${employee.position}" ></li><br>
							<li><span th:text="${employee.dob}" ></li><br>
							<li><span th:text="${employee.joiningDate}" ></li><br>
						</ul>
					</div>
				</div>
				<div id="Edu-detail" class="tab-content">
					<div class="Edu-box-main">
						<h2>
						
						<form th:action="@{/sortDate}">
						 <input type="hidden" name="id"  th:value="${employee.id}" ></input>
						<div class="col-sm-5 col-xs-6 tital " >From
						<input type="date" id="start" name="start" required>
						</div>
						<div class="col-sm-5 col-xs-6 tital">To
						<input type="date" id="end" name="end" required>
						<input type="submit" value="get status" /></div>
						</form>
						</h2>
						 <div class="Edu-box">
						 	<strong><h5><span>Leave</span></h5></strong>
						 	<p>
						 	<ul class="ul-first">
							<li>Authorized</li><br>
							<li>Unauthorized</li><br>
							
							</ul>
							<ul class="ul-second">
							<li><span th:text="${auth.size()}" ></li><br>
							<li><span th:text="${unauth.size()}" ></li><br>
							
							</ul>
							</p>
						 </div>
						 <div class="Edu-box">
						 	<strong><h5><span>Late Arrival</span></h5></strong>
						 	<p>
						 	<ul class="ul-first">
							<li>Authorized</li><br>
							<li>Unauthorized</li><br>
							
							</ul>
							<ul class="ul-second">
							<li><span th:text="${a.size()}" ></li><br>
							<li><span th:text="${un.size()}" ></li><br>
							</ul>
							</p>
						 </div>						  
					</div>
					<div class="Edu-box-main">
						 <div class="Edu-box">
						 	<strong><h5><span>Work Status</span></h5></strong>
						 	<p>
						 	<ul class="ul-first">
						 	<li>Total working hours</li><br>
							<li>Total worked hours</li><br>
							
							</ul>
							<ul class="ul-second">
							<li><span th:text="${total}"></li><br>
							<li><span th:text="${workedHour}" ></li><br>
							
							</ul>
							<p>
							</div>
						 
						 <div class="Edu-box">
						 	<strong><h5><span>Evaluation</span></h5></strong>
						 	<p>
						 	<ul class="ul-first">
							<li>Git score</li><br>
							<li>Hackathon score</li><br>
							</ul>
							<ul class="ul-second">
							<li><span th:text="${git}" ></li><br>
							<li><span th:text="${hack}" ></li><br>
							</ul>
							<p>
						 </div>						  
					</div>
					<div class="Edu-box-main">
						 <div class="Edu-box">
						 	<strong><h5><span>Attendence</span></h5></strong>
						 	<p>
						 	<ul class="ul-first">
						 	<li>Total working days</li><br>
							<li>Absence</li><br>
							</ul>
							<ul class="ul-second">
							<li><span th:text="${day}"></li><br>
							<li><span th:text="${auth.size()+unauth.size()}" ></li><br>
							</ul>
							<p>
							</div>
						 
						 <div class="Edu-box">
						 	<strong><h5><span>Reporting Status</span></h5></strong>
						 	<p>
						 	<ul class="ul-first">
							<li>Total worked days</li><br>
							<li>Unreported days</li><br>
							</ul>
							<ul class="ul-second">
							<li><span th:text="${day-(auth.size()+unauth.size())}" ></li><br>
							<li><span th:text="${unreportdays.size()}" ></li><br>
							</ul>
							<p>
						 </div>						  
					</div>
				</div>
				
				<div id="App-detail" class="tab-content">
					<div class="Edu-box">
						
						
						<form th:action="@{/startDate}">
						 <input type="hidden" name="id"  th:value="${employee.id}" ></input>
						<div class="col-sm-5 col-xs-6 tital " >From
						<input type="date" id="start" name="start" required>
						</div>
						<div class="col-sm-5 col-xs-6 tital">To
						<input type="date" id="end" name="end" required>
						<input type="submit" value="get status" /></div>
						</form>
					</div><br><br><br><br><br><br>
					<div class="Edu-box">
						<ul class="ul-first">
							<strong><li>attendance</li><br>
							<li>punctuality</li><br>
							<li>meetingTargets</li><br>
							<li>companyPolicy</li><br>
							<li>codeQuality</li><br>
							
						</ul>
						<ul class="ul-second">
							<li><span th:text="${appraisal.attendance}"></li><br>
							<li><span th:text="${appraisal.punctuality}"></li><br>
							<li><span th:text="${appraisal.meetingTargets}"></li><br>
							<li><span th:text="${appraisal.companyPolicy}" ></li><br>
							<li><span th:text="${appraisal.codeQuality}" ></li><br>
							
						</ul>
						 
					</div> 		  
					
					
				</div>
				
				
				</div>
			</div>
		</div>
		
		
	</div>
	</body>
</html>