<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/responsiveScript.js"></script>
<script src="/js/view.js"></script>
<script src="/js/dropdownScript.js"></script>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/viewall.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <title>View All User</title>  
  </head>
  <body th:onload="use([${success}])">
  
  <script >
   function use(us)
   {
	   if(us)
	   document.getElementById('alert').style.display = "block";
	   
   }
    </script>
  
  
  <div class="topnav" id="myTopnav">
  <a href="/add" th:href="@{/add}">Add User</a>
  <a href="/report" th:href="@{/report}">Appraisal report</a>
   <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">Set Status
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="/leave">Leave Status</a>
    <a href="/lateArrival">Late Arrival</a>
    <a href="/reportStatus">Reporting Status</a>
    <a href="/evaluation">Evaluation Test</a>
  </div>
  </div> 
   <a href="/logout-success" th:href="@{/logout-success}" onclick="$('#form').submit();">Logout</a>
   <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout-success}"></form>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div><br><br>
    
    <div id="alert" class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						  User added Successfully!! 
						</div>	
    
	
	
<center>
<form th:action="@{filter}">
	<select name="company">
	<option type="text" value="--select--" >--company--</option>
	<option type="text" name="Lxisoft" >Lxisoft</option>
	<option type="text" name="Bytatech">Bytatech </option>
	<option type="text" name="Divixo" >Divixo </option>
	<option type="text" name="Felixo" >Felixo </option>
	<option type="text" name="Illude" >Illude</option>
	</select>
	<select name="position">

	<option type="text" value="--select--" >--position--</option>
	<option type="text" >intern</option>
	<option type="text" >employee </option>
	<option type="text" >co-founder </option>
	<option type="text" >admin </select>
	</select>
	<input type="submit" value="filter">
</form><br><br>

<div th:if="${success}">
    	<h2 >user added successfully!!!... </h2>
	</div>


  <table class="table">
  <tr th:each="employee: ${list}">
  <td>
<div class="wrapper">
	<div class="container">
		<div class="img-container">
			 <img th:src="*{'data:image/jpg;base64,'+employee.ImageContentType}" class="img-circle img-responsive" alt="Card image cap">
		</div>
		<div class="content">
			<div class="head">
				<span th:text="${employee.getFirstName()}"></span> <span th:text="${employee.getLastName()}"></span><br>
				<p th:text="${employee.getPosition()}"></p>
			</div>
			<div class="data">
				<div class="inner-data">
					<span><a th:href="@{${'/userDetails?id='+employee.id}}" ><button  type="button" class="btn1">View Profile</button></a></span>
				</div>
			</div>
		</div>
		<!-- <div class="floating-icon">
			<i class="fa fa-plus" aria-hidden="true"></i>
		</div> -->
		<div class="btn">
		 <span><a th:href="@{${'/editUser?id='+employee.id}}"><button type="button" class="btn3">edit</button></a></span>
		<span><a th:href="@{${'/deleteUser?id='+employee.id}}" onclick="javascript:return confirm('Are you sure ?');"><button type="button" class="btn2">delete</button></a></span>
		</div>
	</div>
</div>
<br>

</td>
</tr>
</table>
</center>
</body>
</html>